.content-block {
  width: 90%;
  border: 2px solid rgba(170, 170, 170, 0.75);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 2px 7px rgba(0,0,0,0.25);
  background: rgba(0,0,0,0.8);
  // border-bottom: 0 none;
  padding: 10px 10px 10px 10px;
}
